<div fxLayout="column" fxLayoutGap="1em">
	<mat-toolbar> <span>Table Copy</span> </mat-toolbar>
	<h3>Source DB: {{sourceDb}}</h3>

	<h3>Target DB: {{targetDb}}</h3>
	<br />
	<div fxLayout fxLayout.lt-sm="column" fxLayoutWrap="true"
		fxLayoutGap="1em">
		<mat-card> 
			<mat-card-header>
				<mat-card-title>Transfer Configuration</mat-card-title>
				<mat-card-subtitle>Configure the data to select and insert; map the column types [match the order of your SQL!!]</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<div fxLayout="column" class="field-container">
					<mat-form-field>
						<label>Select Statement</label>
						<textarea matInput rows="3"	[(ngModel)]="options.selectStatement"></textarea>
					</mat-form-field>
					
					<mat-form-field>
						<label>Insert Statement</label>
						<textarea matInput rows="3"	[(ngModel)]="options.insertStatement"></textarea>
					</mat-form-field>
				</div>
				
				<mat-divider>Column Mappings</mat-divider>

				<div fxLayout="column">
					<div fxLayout="row">
						<mat-form-field>
							<input matInput type="text" [(ngModel)]="newMapping.sourceColumnName"
								placeholder="source column name"> 
						</mat-form-field>
						<mat-form-field>
							<input type="text" matInput
								[(ngModel)]="newMapping.targetColumnName"
								placeholder="target column name">
						</mat-form-field>
						
						<mat-form-field>
							<mat-select [(ngModel)]="newMapping.sourceColumnType" placeholder="Column data type">
								<mat-option value="STRING">STRING</mat-option>
								<mat-option value="INT">INT</mat-option>
								<mat-option value="LONG">LONG</mat-option>
								<mat-option value="BLOB">BLOB</mat-option>
								<mat-option value="CLOB">CLOB</mat-option>
							</mat-select>
						</mat-form-field>
						<button mat-raised-button (click)="addNewMapping(newMapping)">Add</button>
					</div>
					<ul>
						<li *ngFor="let item of options.mappings">source name:
							{{item.sourceColumnName}}; target name: {{item.targetColumnName}};
							data type: {{item.sourceColumnType}}
							<button (click)="removeMapping(item)">Remove</button>
						</li>
					</ul>
				</div>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button color="primary" (click)="execute(options)">
					<mat-icon matListIcon>check</mat-icon>
				</button>
			</mat-card-actions>
		</mat-card>
	</div>

</div>
