<div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="1em">
	<mat-toolbar color="primary">
		<span>Table Copy</span>
	</mat-toolbar>
	<mat-accordion>
		<mat-expansion-panel expanded="true">
			<mat-expansion-panel-header>Datasource Configuration</mat-expansion-panel-header>
			<div fxLayout="column" class="content">
				<fieldset fxLayout="column" class="field-container">
					<legend>Source</legend>
					<mat-form-field>
						<input matInput type="text" [(ngModel)]="sourceDb.url"
								placeholder="URL ex. jdbc:hsqldb:mem:testSource"> 
					</mat-form-field>
					<mat-form-field>
						<input matInput type="text" [(ngModel)]="sourceDb.username"
								placeholder="username"> 
					</mat-form-field>
					<mat-form-field>
						<input matInput type="password" [(ngModel)]="sourceDb.password"
								placeholder="password"> 
					</mat-form-field>
					<mat-form-field>
						<input matInput type="text" [(ngModel)]="sourceDb.driverClassName"
								placeholder="Driver Class Name ex. org.hsqldb.jdbc.JDBCDriver"> 
					</mat-form-field>
					<button mat-raised-button (click)="testDataSource(sourceDb)">Test</button>
				</fieldset>
				
				<fieldset fxLayout="column" class="field-container">
					<legend>Target</legend>
					<mat-form-field>
						<input matInput type="text" [(ngModel)]="targetDb.url"
								placeholder="URL ex. jdbc:hsqldb:mem:testSource"> 
					</mat-form-field>
					<mat-form-field>
						<input matInput type="text" [(ngModel)]="targetDb.username"
								placeholder="username"> 
					</mat-form-field>
					<mat-form-field>
						<input matInput type="password" [(ngModel)]="targetDb.password"
								placeholder="password"> 
					</mat-form-field>
					<mat-form-field>
						<input matInput type="text" [(ngModel)]="targetDb.driverClassName"
								placeholder="Driver Class Name ex. org.hsqldb.jdbc.JDBCDriver"> 
					</mat-form-field>
					<button mat-raised-button (click)="testDataSource(targetDb)">Test</button>
				</fieldset>
			</div>
			<mat-action-row fxLayoutGap="1em">
				<button mat-raised-button color="primary" (click)="applyDataSourceConfiguration()">Apply</button>
			</mat-action-row>
		</mat-expansion-panel>
			<mat-expansion-panel *ngIf="tasksInfo">
			<mat-expansion-panel-header>Tasks</mat-expansion-panel-header>
			<div>
				<ul>
					<li>Pool size: {{tasksInfo.poolSize}}
					<li>Active Count: {{tasksInfo.activeCount}}
					<li>KeepAlive Seconds: {{tasksInfo.keepAliveSeconds}}
					<li *ngFor="let task of tasksInfo.tasks">
						<ul>
							<li>ID: {{task.id}}
							<li>Done: {{task.done}}
							<li>Cancelled: {{task.cancelled}}
							<li>Exception: {{task.completedExceptionally}}
							<li>Message: {{task.message}}
						</ul>
					</li>
				</ul>
			</div>
			<mat-action-row fxLayoutGap="1em">
				<button mat-raised-button color="primary" (click)="clearDoneTasks()">
					<span>Clear Done Tasks</span>
					<mat-icon matListIcon>clear</mat-icon>
				</button>
				<button mat-raised-button color="primary" (click)="updateTasksInfo()">
					<span>Refresh Tasks</span>
					<mat-icon matListIcon>refresh</mat-icon>
				</button>
			</mat-action-row>
		</mat-expansion-panel>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>Task Configuration</mat-panel-title>
				<mat-panel-description>Configure the data to select and insert; map the column types [match the source column name to the variable used in the 'INSERT' statement!!]</mat-panel-description>
			</mat-expansion-panel-header>
			<div>
				<div fxLayout="column" class="field-container">
					<mat-form-field>
						<label>Select Statement</label>
						<textarea matInput rows="3"	[(ngModel)]="options.selectStatement"></textarea>
					</mat-form-field>
					
					<mat-form-field>
						<label>Insert Statement</label>
						<textarea matInput rows="3"	[(ngModel)]="options.insertStatement"></textarea>
					</mat-form-field>
				</div>
				
				<mat-divider>Column Mappings</mat-divider>

				<div fxLayout="column">
					<div fxLayout="row" fxLayoutGap="1em">
						<mat-form-field>
							<input matInput type="text" [(ngModel)]="newMapping.sourceColumnName"
								placeholder="source column name"> 
						</mat-form-field>
						<mat-form-field>
							<input type="text" matInput
								[(ngModel)]="newMapping.targetVariableName"
								placeholder="target variable name">
						</mat-form-field>
						
						<mat-form-field>
							<mat-select [(ngModel)]="newMapping.sourceColumnType" placeholder="Column data type">
								<mat-option value="STRING">STRING</mat-option>
								<mat-option value="INT">INT</mat-option>
								<mat-option value="LONG">LONG</mat-option>
								<mat-option value="BLOB">BLOB</mat-option>
								<mat-option value="CLOB">CLOB</mat-option>
							</mat-select>
						</mat-form-field>
						<button mat-raised-button (click)="addNewMapping(newMapping)">Add</button>
					</div>
					<ul>
						<li *ngFor="let item of options.mappings">source name:
							{{item.sourceColumnName}} | target name: {{item.targetVariableName}} | 
							data type: {{item.sourceColumnType}}
							<button (click)="removeMapping(item)">Remove</button>
						</li>
					</ul>
				</div>
			</div>
			<mat-action-row fxLayoutGap="1em">
				<button mat-raised-button color="primary" (click)="execute(options)">
					<mat-icon matListIcon>check</mat-icon>
				</button>
			</mat-action-row>
		</mat-expansion-panel>
	</mat-accordion>

</div>
